main{
  display:flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 24px 32px;
  justify-content: center;
}

main img{
  width: 286px;
  max-width: 100%;
  aspect-ratio: 1 / 1;
  height: auto;
  object-fit: cover;
}

