nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-block: 20px;

}

nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  gap:24px;
  padding-block: 8px;
}

nav ul li:last-child img {
  width:40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}


.conteiner {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}

@media (max-width: 480px) {
  .conteiner{
    padding-inline: 16px;
  }

  nav ul{
    gap: 12px;
  }

  
  nav ul li:nth-child(2),
  nav ul li:nth-child(3){
    display: none;
  }
}